@import '../variables';

.categories {
  ul {
    display: flex;

    li {
      white-space: nowrap;
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }

  @media (max-width: 876px) {
    max-width: 400px;
    overflow-x: auto;
  }

  @media (max-width: 580px) {
    max-width: 300px;
  }

  @media (max-width: 436px) {
    max-width: 200px;
  }
}